{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">


    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Online Judge</title>
    {% endif %}

    
</head>
<body>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">Online Judge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">

              <!-- Navbar Right Side -->

              {% if user.is_authenticated %}
              <div class="navbar-nav register ">
                <a class="nav-item nav-link" href="{% url 'login_n' %}">Hii,{{user.username}}</a>
                <a class="nav-item nav-link" href="{% url 'logout_n' %}">Logout</a>
              </div>

              {% else %}
              <div class="navbar-nav register ">
                <a class="nav-item nav-link" href="{% url 'login_n' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register_n' %}">Register</a>
              </div>
              {% endif %}
              
            </div>
          </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags}}">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
          
        </div>
    </main>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>
